{% extends "base.html" %}

{% block body %}
    <br>
    <h2><u> Nearby hospitals </u></h2>
        <br>
        <br>
        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.0}}
           <p>
           {{result.1}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.2}}
           <p>
           {{result.3}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.4}}
           <p>
           {{result.5}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.6}}
           <p>
           {{result.7}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.8}}
           <p>
           {{result.9}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.10}}
           <p>
           {{result.11}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.12}}
           <p>
           {{result.13}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.14}}
           <p>
           {{result.15}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.16}}
           <p>
           {{result.17}}
        </div>

        <div style="background-color: #089c92 ; border-radius: 3px;">
           {{result.18}}
           <p>
           {{result.19}}
        </div>
        <br>
{% endblock %}